apiVersion: v2
description: Creates etcd backup from kubernetes master and stores it remotely via s3
type: application
name: etcdbackup
version:  {{ version }}
appVersion: {{ version }}
kubeVersion: ">=1.16.0-0"
